.container{
    border: 1px solid black;
    width: 80%;
    margin: auto;
    background-color: blueviolet;
    color: white;
    height: 300px;
    padding: 15px;
}
/* screen xxl xl lg md sm xs */
@media screen and (max-width:750px){
    .container{
        background-color: black;
        color: yellow;
    }    
}
