body{
    background-color: #5dcf5b;
}
h1{
    color: blue;
}
.section{
    width: 400px;
    height: 100px;
    border-width: 2px;
    border-style: solid;
}
.row1{
    background-color: brown;
}
.row2{
    background-color: blue;
}
.row3{
    background-color: blueviolet;
}
div{
    color: white;
}
.container{
    width: 500PX;
    height: 200PX;
}
.row4{
    background-color:black;
}
.row5{
    background-color: bisque;
}