.container{
    width: 80%;
    height: 400px;
    border: 1px solid black;
    margin: auto;
    margin-top: 50px;
}
.col{
    border: 1px solid black;
}
.row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    grid-template-rows: 100px 100px;
}
.col-1{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
}
.col-6{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-template-rows: 100px;
}
.col:nth-child(1){
    background-color: aqua;
}
.col:nth-child(2){
    background-color: rgb(211, 104, 22);
}
.col:nth-child(3){
    background-color: rgb(27, 81, 218);
}
.col:nth-child(4){
    background-color: rgb(180, 209, 16);
}
.col:nth-child(5){
    background-color: rgb(235, 12, 183);
}
.col:nth-child(6){
    background-color: rgb(44, 3, 6);
}

